<!DOCTYPE html>
<html lang="en">

  <!-- Head -->
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-227235287-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-227235287-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>EXPAND - Ad-Hoc Parallel File System</title>

    <!-- Required stylesheets -->
    <link type="text/css" rel="stylesheet" href="external/bootstrap_vue/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="external/bootstrap_vue/bootstrap-largegrid.min.css"/>
    <link type="text/css" rel="stylesheet" href="external/bootstrap_vue/bootstrap-vue.min.css"/>
    <link type="text/css" rel='stylesheet' href="external/fontawesome/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    
    <!-- Required scripts -->
    <script src="external/bootstrap_vue/polyfill.min.js"></script>
    <script src="external/bootstrap_vue/vue.min.js"></script>
    <script src="external/bootstrap_vue/bootstrap-vue.min.js"></script>
    <script src="external/jquery.min.js"></script>

    <!-- Swiper -->
    <link rel="stylesheet" href="external/swiper/swiper-bundle.css"/>
    <link rel="stylesheet" href="external/swiper/swiper-bundle.min.css"/>
    <script src="external/swiper/swiper-bundle.js"></script>
    <script src="external/swiper/swiper-bundle.min.js"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="./images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/icons/favicon-16x16.png">
    <link rel="manifest" href="./images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

  </head>

  <!-- Body -->
  <body>
    <div id="app">
      <template>

        <!-- Navbar  -->
        <header>
          <navbar-xpn></navbar-xpn>
        </header>


        <div class="contenedor row" style="margin-top: 5vh; text-align: center; margin-bottom: 5vh">

          <!-- Header section -->
          <div class="col-lg-12 col-sm-12 row p-0 mx-0 pb-3">
            <div class="col-lg-2 col-sm-1 p-0"></div>
            <div class="col-lg-8 col-sm-10"><h3><b>The EXPAND Ad-Hoc Parallel File System</b></h3></div>
            <div class="col-lg-2 col-sm-1 p-0"></div>
          </div>

          <div class="col-lg-12 col-sm-12 row p-0 m-0 pb-3">
            <div class="col-lg-2 col-sm-1 p-0"></div>
            <div class="col-lg-6 col-sm-10"></div>
            <div class="col-lg-3 col-sm-10"><b-button class="btn p-2 m-1" size="md" variant="primary" href="https://github.com/xpn-arcos/xpn">EXPAND GitHub Repository</b-button></div>
            <div class="col-lg-1 col-sm-1 p-0"></div>
          </div>


          <!-- Core section -->
          <div class="col-lg-12 col-sm-12 row p-0 m-0">
            <div class="col-lg-2 col-sm-1 p-0"></div>
            <div class="col-lg-8 col-sm-10">
              
              <!-- highlights section -->
              <highlights :highlights="highlights"></highlights>

              <!-- Description section -->
              <div class="col-lg-12 col-sm-12" style="margin-top: 4%; text-align: center;" id="description">
                <h4><b>Description</b></h4>
                <hr>
                <br>
                <div class="col-lg-12 col-sm-12" style="text-align: left;">

                  <h5><b>Design summary</b></h5>
                  <p align="justify">Expand is a parallel file system based on standard servers. This section describes the work developed to convert Expand into an ad-hoc parallel file system.</p>
                  <p align="justify">The next figure shows the structure of Expand as an ad-hoc parallel file system. This structure is based on a series of data servers running on the compute nodes that communicate with each other using MPI. The use  of MPI facilitates the standardization of Expand and its use in HCP environments.</p>
                  <b-img center class="m-4" src="images/description/xpn-1.png" fluid alt="The Expand Ad hoc architecture"></b-img>
                  <p align="justify">Parallel data partitions are created on the ad-hoc servers on the local storage devices (HDD or SSD) using the services provided by the local operating system. The applications are deployed on the compute nodes and communicate with the Expand servers also using MPI. As can be seen in the figure, applications can be deployed on nodes without ad-hoc servers and servers can be deployed on nodes where no applications are running.</p>
                  <p align="justify">The next figure shows the internal details of the Expand as ad-hoc parallel file system. Next section describes some aspects of Expand design.</p>
                  <b-img center class="m-4" src="images/description/xpn-2.png" fluid alt="The Expand Ad hoc detailed architecture"></b-img>

                  <h5><b>Data distribution and files</b></h5>
                  <p align="justify">Expand combines several  Expand MPI ad-hoc servers (see the previous figure) in order to provide a generic parallel partition. Each server provide one or more directories that are combined to build a distributed partition to use in compute nodes. All files in the system are striped across all ad-hoc servers to facilitate parallel access, with each server storing conceptually a subfile of the parallel file.</p>
                  <p align="justify">A file consists in several subfiles, one for each ad-hoc server. All subfiles are fully transparent to the Expand users. On a parallel partition, the user can create stripped files with cyclic layout. In these files, blocks are distributed across the partition following a round-robin pattern. This structure is shown in the next figure.  In this figure the user data file is the file stored in Expand and the block size is the used in Expand for distributed the blocks among all servers. This block size is independent of the structure used in the backend parallel file system.</p>
                  <b-img center class="m-4" src="images/description/xpn-3.png" fluid alt="The file structure and directory mapping in Expand"></b-img>


                  <h5><b>Naming and metadata management</b></h5>
                  <p align="justify">Partitions in Expand are defined using a small configuration file. For example, the following configuration file defines a partition with two ad-hoc servers and an block size of 512 KB. For each server, a directory must be specified. All files will be storage in this directory.</p>

                  <!--conf.xml-->
                  <ul>
                    <b-media tag="li" class="mb-2">                        
                      <b-card-group deck>
                         <b-card>
                          <b-row no-gutters>
                            <b-col md="12">
                               <b-card-text style="text-align: left;margin:2%;">
                                <code>&lt;?xml version="1.0" encoding="ISO-8859-1"?&gt;</code>
                                <br>
                                <code>&lt;xpn_conf&gt;</code>
                                <br>
                                <code>&nbsp;&nbsp;&nbsp;&nbsp;&lt;partition name="xpn" type="NORMAL" bsize="512k"  &gt;</code>
                                <br>
                                <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;data_node id="&lt;node ID&gt;" url="mpiServer://&lt;server name or IP&gt;/&lt;storage path1&gt;"&gt;</code>
                                <br>
                                <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;data_node id="&lt;node ID&gt;" url="mpiServer://&lt;server name or IP&gt;/&lt;storage path1&gt;"&gt;</code>
                                <br>
                                <code>&nbsp;&nbsp;&nbsp;&nbsp;&lt;/partition&gt;</code>
                                <br>
                                <code>&lt;/xpn_conf&gt;</code>
                               </b-card-text>
                            </b-col>
                          </b-row>
                         </b-card>
                      </b-card-group>
                    </b-media>
                  </ul>

                  <p align="justify">Each subfile of a Expand file (see the previous figure) has a small header at the beginning of the subfile. This header stores the file’s metadata. This metadata includes the following information: stride size, base node, that identifies the ad-hoc server where the first block of the file resides and the file distribution pattern used. By the moment, we only use files with cyclic layout.</p>
                  <p align="justify">All subfiles have a header for metadata, although only one node, called master node (described below) stores the current metadata. The master node can be different from the base node. To simplify the naming process and reduce potential bottlenecks, Expand does not use any metadata manager. The previous figure shows how directory mapping is made in Expand.</p>
                  <p align="justify">The metadata of a file resides in the header of a subfile stored in an ad-hoc server. This server is the master node of the file.  To obtain this node the file name is hashed into the number of node.</p>
                  <p align="justify">Because the determination of the master node is based on the file name, when a user renames a file, the master node for that file changes. The algorithm used in Expand to rename a file is as follows:</p>

                  <!--Rename pseudocode-->
                  <div class="m-4" style="color:black">
                    <code style="color:black">rename(oldname, newname) {</code>
                    <br>
                    <code style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;oldmaster = hash(oldname)</code>
                    <br>
                    <code style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;newmaster = hash(newname)</code>
                    <br>
                    <code style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;move the metadata from oldmaster to newmaster</code>
                    <br>
                    <code style="color:black">}</code>
                  </div>

                  <h5><b>Parallel Access</b></h5>

                  <p align="justify">All file operations in Expand use a virtual filehandle. This virtual filehandle is the reference used in Expand to reference all operations. When Expand needs to access to a subfile, it uses the appropriated filehandle. To enhance I/O, user requests are split by the Expand library into parallel subrequests sent to the involved servers. When a request involves k ad-hoc servers, Expand issues k requests in parallel to the servers, using threads to parallelize the operations. The same criteria is used in all Expand operations. A parallel operation to k servers is divided in k individual operations that are provided by ad-hoc servers.</p>

                  <h5><b>Data stage-in/stage-out operations</b></h5>
                  <p align="justify">Data stage-in operations are perfomed in parallel from the backend parallel file system to the ad-hoc servers  without the intervention of any client application. Each server builds the corresponding subfile in its local storage space, reading the data from the file stored on the backend file system. This operation is performed in parallel in all ad-hoc servers.</p>
                  <p align="justify">In the same way, data stage-out are performed in parallel. Each server writes the blocks stored in his local subfile to the final file of the backend parallel file system.</p>
                  <p align="justify">Although these operations could be performed using a normal POSIX application, we have developed two new system calls that allow these operations to be performed directly from the servers with improved performance. This system calls are:</p>

                  <ul class="ml-4">
                    <li align="justify">Preload. Copy a file from the backend file system to the Expand partition.</li>
                    <li align="justify">Flush. Write a file from the Expand partition to the final backend file system.</li>
                  </ul> 

                </div>

                <div class="col-lg-4 col-sm-4 p-0"> </div>
              </div>

              <!-- User Guide section -->
              <div class="col-lg-12 col-sm-12" style="margin-top: 4%; text-align: center;" id="user_guide">
                <h4><b>User Guide</b></h4>
                <hr>
                <br>
                <b-card-group deck class="mx-1" style="margin: 7%; text-align: center;">
                  <card-help v-for="option in user_guide" 
                             :option="option">
                  </card-help>
                </b-card-group>
                <div class="col-lg-4 col-sm-4 p-0"> </div>
              </div>

              <!-- Publications section -->
              <div class="col-lg-12 col-sm-12" style="margin-top: 4%; text-align: center;" id="publications">
                <h4><b>Publications</b></h4>
                <hr>
                <b-card-group deck style="margin: 7%; text-align: center;">
                  <publication  v-for="publication in publications"
                                :publication="publication">
                  </publication>
                </b-card-group>
              </div>

              <!-- Updates section -->
              <div class="col-lg-12 col-sm-12" style="margin-top: 4%; text-align: left;" id="updates">
                <h4><b>Updates</b></h4>
                <hr>

                <p align="justify">The following list includes the updates and progress for ad-hoc Expand version:</p>

                <ul class="ml-4">
                  <li align="justify">New version of the system call interception library.</li>
                  <li align="justify">New ad-hoc Expand server developed.</li>
                  <li align="justify">New ad-hoc Expand client developed.</li>
                  <li align="justify">New installation manual.</li>
                </ul> 
              </div>

              <!-- Authors section -->
              <div class="col-lg-12 col-sm-12" style="margin-top: 4%; text-align: center;" id="authors">
                <h4><b>Authors</b></h4>
                <hr>
                <uielto-about></uielto-about>
              </div>

            </div>
            <div class="col-lg-2 col-sm-1 p-0"></div>
          </div>
        </div>

      </template>
    </div>

    <!-- Required scripts -->
    <script>
      document.write("<script src=\"js/min.xpn_web.js?id=" + new Date().getTime() + "\"><\/script>");
    </script>
  </body>
</html>
